@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
  max-width: 1400px;
  margin: 0 auto;
  @font-face {
    font-family: 'Poppins', sans-serif;
    src: url(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />);
  }
}

a {
    color: white;
    text-decoration: none;
  }


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
nav .back h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;  
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid dimgray;
    border-radius: 5px;
  }
  
nav .Vids{
    display: flex;
    align-items: left;
}
nav .Vids .cell img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-left: 25px;
    align-items: center;
    
}

/* Sections */

.P1 {
  padding: 0 50px;
  margin-bottom: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.P1 video {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 10px;
    display: block;
    align-content: center;
}

.P1 h2 {
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    position: relative;
}

.P2 {
  padding: 0 50px;
  margin-bottom: 100px;
  justify-content: center;
}

.P2 h2 {
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    position: relative;
}

.P3 {
  padding: 0 50px;
  margin-bottom: 100px;
  justify-content: center;
}

.P3 h2 {
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    position: relative;
}